<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TaskListManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <TaskListManager.Properties.Settings>
            <setting name="fontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MyLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="MyClientSize" serializeAs="String">
                <value>284, 561</value>
            </setting>
            <setting name="taskNum" serializeAs="String">
                <value>10</value>
            </setting>
        </TaskListManager.Properties.Settings>
    </userSettings>
</configuration>
